<section>
   <div class="card-graph">
      <img src="../../assets/img/bitcoin_graph.jpeg" alt="Bitcoin Logo" class="responsive-img">
   </div>
   <hr>
   <div class="card-title">
      <img src="../../assets/img/bitcoin_logo.png" alt="" class="card-title-img responsive-img">
      <h2 class="card-title-text">{{title}}</h2>
      <a href="#">More</a>
   </div>
   <hr>
   <div class="card-details">
      <div class="detail">
         <h3>Sentiment Score: </h3>
         <p>{{sentimentScore}}</p>
      </div>
      <div class="detail">
         <h3>Price: </h3>
         <p>{{price}}</p>
      </div>
      <div class="detail">
         <h3>Change (hour) </h3>
         <p>+ {{ changeHour }}</p>
      </div>
   </div>
</section>