section {
   background-color: #fcf8ff;
   height: 100%;
   padding: 116px 20px 20px 245px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   min-height: 100vh;
}

/* app-crypto-search {
   position: fixed;
} */