/* You can add global styles to this file, and also import other style files */
* {
   font-family: 'Arial', sans-serif;
   box-sizing: border-box;
}

body {
   margin: 0;
}

.responsive-img {
   width: 100%;
   height: auto;
   display: block;
}